@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-size: 3em;
    margin-top: 5rem;
}

.position{
    display: flex;
    justify-content: center;
}