.h5{
    font-size: 1.3em;
}

.precio{
    font-size: 1.6em;
}

.card{
    margin-bottom: 2rem;
}

.card-body{
    text-align: center;
    padding: 3rem 0;
}

.btn{
    background-color: black;
    border-color: transparent;
    height: 3rem;
    font-size: 1.2em;
    &:hover{
        background-color: #A3EEFB;
        color: black;
        border-color: transparent;
    }
}