.detail-card {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.detail {
    background-color: white;
    height: 47rem;
    width: 50rem;
    border-radius: 1rem;
}

h2 {
    color: black;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2rem;
}

.description {
    text-align: center;
    color: black;
    font-size: 1.2em;
}

.img-container{
    display: flex;
    justify-content: center;
    height: 500px;
}

.img-detail {
    max-width: 700px;
    max-height: 600px;
}

.add{
    display: flex;
    justify-content: center;
    object-fit: cover;
}

.btn-sumrest{
    background-color: #361d64;
    color: #00dbafda;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    font-size: 2em;
    text-align: center;
}

.add-cart{
    background-color: #361d64;
    color: #00dbafda;
    border: none;
    border-radius: 1rem;
    width: 10rem;
    height: 3rem;
    margin-left: 1rem;
}