.p-order{
    font-size: 1em;
    text-transform: uppercase;
    color: #00dbafda;
    margin-top: 2rem;
}

.p-compra{
    font-size: 1.4em;
    text-transform: uppercase;
    color: #00dbafda;
    margin-bottom: 1.6rem;
}